html {
  position: relative;
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0 !important;
  background-color: #ffffff !important;
  font-family: "Prompt", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.layout {
  padding: 32px;
}
